<div class="profile-banner">

<div class="container-biddings">
    <mat-card class="card-container">
        <mat-card class="white-area">
            <mat-card-content class="picture-frame">
                <img class="img-pic" src="{{myData?.profilePicture}}">
                <br>
                <button mat-raised-button color="primary" *ngIf="this.isOwner == true" (click)="enableVisibility()">Change picture</button>
                <br>
                <div *ngIf="isVisible">
                    
                    <form [formGroup]="imageForm" (ngSubmit)="submit()" >

                        <mat-form-field>
                            <input matInput placeholder="Link to image e.g. https://i.imgur.com/sItvOkw.png" formControlName="imageLink" />
                        </mat-form-field>
                        <br>
                        <button [disabled]="!imageForm.valid" mat-raised-button color="primary" class="submit-button" type="submit">
                            Submit!
                        </button>
                        
                      
                      </form>
                </div>
            </mat-card-content>
        </mat-card>
        <br>
        <mat-card class="white-area">
            <div>
                Display Name:
                <div class="important-text">{{myData?.displayName}}</div>
            </div>
            
            <div>
                Phone Number:
                <div class="important-text">{{myData?.phoneNumber}}</div>
            </div>
            
        </mat-card>
    </mat-card>

</div>
<div class="container-biddings">

    <div class="main-content-bidings">
      <mat-card class="items-hl biding-item-box" *ngFor="let e of myPosts | paginate: { itemsPerPage: count, currentPage: p }" >
        <mat-card-content routerLink="/listed-item/{{e.ids}}">
          <img class="bid-pic" src="{{e.pic_url}}">
          <div class="title-bidding">{{e.titlu}}</div>
          <div>{{e.descriere}}</div>
          <div class="seller-bidding">Seller: <a class="user-banner" routerLink="/account/{{e.seller_uid}}">{{e.seller_displayName}} </a></div>
          
        </mat-card-content>
      </mat-card>
      
    </div>
    <div class="text-right">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>
</div>
<router-outlet></router-outlet>