.white-area{
    width: 300px;
}


.important-text{
    font-weight: bold;
}

.card-container{
    width: 320px;
    box-shadow: 0px 0px 26px 2px rgba(119, 255, 244, 0.29);
}

.img-pic{
    max-width: 100%;
    max-height: 100%;
}

.text-right{
    text-align: center;
}

.bid-pic{
  width: 150px;
  height: 150px;
  margin: auto;
}

.main-content-bidings{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.biding-item-box {
  flex: 1 0 28%; /* explanation below */
  text-align: center;
}

.title-bidding{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }
.seller-bidding{
    opacity: 0.8;
    margin-top: 20px;
  }

img{
    border-radius: 4px;
}


/* .container-biddings {
  width: 90%;
  margin: auto;
  box-shadow: 0px 0px 26px 2px rgb(0 0 0 / 29%);

  background-color: #ffffff40;
} */

.container-biddings{
    width: 80%;
    float: right;
    padding: 20px;
}

.profile-banner{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}