.reg-form{
    display: block;
    max-width: 150px;
    margin: auto;
}

.reg-form mat-form-field{
    width: 100%;
}

.item-card{
    height: 70vh;
    width:30%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    
}


.item-child{
    flex: 1;
    -webkit-box-shadow: 6px 4px 19px 0px rgba(122, 9, 122, 0.6);
-moz-box-shadow: 6px 4px 19px 0px rgba(71,7,71,0.6);
box-shadow: 6px 4px 19px 0px rgba(71,7,71,0.6);
}

.item-child:first-child{
    margin-right: 20px;
}

.card{
    display: flex;
    height: 400px;
    width: 120px;
}