/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: linear-gradient(to right top, #053137, #002736, #081d31, #131227, #19001a); background-repeat: no-repeat; background-size: contain;}
.nmp{
    box-shadow: 0px 0px 26px 2px rgb(0 0 0 / 29%);
}
